bin/
obj/
build/
build_*/
doxygen/
_UpgradeReport_Files
*.msi
*~
*.o
*.so
/RuntimeDirectory/
codeblocks/
win/
/.metadata/
Release/
Debug/
Profile/
Build_Release/
Build_Debug/
Build_Profile/
Build_ExtraWarnings/
BuildWindows_Release/
BuildWindows_Debug/
BuildMSVC_Release/
BuildMSVC_Debug/
**/Doxygen/**/*
/.settings/
/.project
/.cproject
